:root{

  // colors
  --light: #ffffff;
  --dark: #000;
  --light-grey: #D3D3D3FF;
  --dark-grey: #fff8cd;


  // Declare all font-sizes that will be used
  --font-weight: bold;
  --font-size-p-regular: 12px;
  --font-size-p-small: 0.75rem;

}
