:root{

  // colors
  --light: #ffffff;
  --dark: #000;
  --light-grey: #D3D3D3FF;
  --light-two: #C9CCCE;
  --light-three: #B8CFDC;
  --dark-grey: #fff8cd;
  --primary-color: #3898D3;
  --secondary-color: #FA876C;



  // Declare all font-sizes that will be used
  --font-weight: bold;
  --font-size-h: 1rem;
  --font-size-p-regular: 12px;
  --font-size-p-small: 0.75rem;

}
