.chat__wrapper{
  padding: 2rem 8rem;
  overflow: scroll;
  height: 80vh;
}
.chat__msg-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}


@media screen and (max-width: 600px){
  .chat__wrapper{
    padding: 2rem 1rem;
  }
}
